* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: blue;
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  color: rgb(255, 0, 140);
  text-align: center;
  margin-bottom: 20px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 179, 179);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: lightseagreen;
  color: #fff;
  cursor: pointer;
  border-radius: 14px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: " ";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(icon.png);
  background-size: cover;
  top: 12px;
  left: 8px;
}
ul li.checked{
color: #000000;
text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(ico.png);
}
ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background-color: bisque;
}











